* {
    color: #ececec;
    font-family: Roboto, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background-color: #212121;
}

.app {
    background-color: #212121;
    display: flex;
}

